.active-page-tittle {
    border-style: solid;
    border-color: #0BA3DD;
    border-width: 0px 0px 4px 0px;
}

.search-box {
    border-radius: 5rem;
}

.search-box2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.bg-support-page {
    background: url(../images/women_telecom_chat.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right;
}

.menu-box {
    position: relative;
    overflow: hidden;
    transition: all ease-in-out .5s;
    border-style: solid;
    border-color: #999B9D;
    border-width: 1px 1px 4px 1px;
}

.menu-box::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 25%;
    height: 100%;
    width: 50%;
    background-color: #000;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 1s;
    transform: scale(5, 5);
}

.menu-box:active::after {
    padding: 0;
    margin: 0;
    opacity: .2;
    transition: 0s;
    transform: scale(0, 0);
}

.menu-box:hover {
    background-color: #BAD8F4;

}

.halaman-aktif {
    position: relative;
    overflow: hidden;
    transition: all ease-in-out .5s;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 0px 4px;
}

#sidebar_min {
    min-width: 100px;
    max-width: 100px;
    background: #0BA3DD;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #sidebar_min.active {
      min-width: 50px;
      max-width: 50px;
      text-align: center;}
      #sidebar_min.active ul.components li {
        font-size: 14px; }
        #sidebar_min.active ul.components li a {
          padding: 15px 10px; }
          #sidebar_min.active ul.components li a span {
            margin-right: 0;
            display: block;
            font-size: 24px; }
      #sidebar_min.active .logo {
        padding: 10px 0; }
      #sidebar_min.active .footer {
        display: none; }
    #sidebar_min .logo {
      display: block;
      color: #fff;
      font-weight: 900;
      padding: 30px 30px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      @media (prefers-reduced-motion: reduce) {
        #sidebar_min .logo {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
    #sidebar_min ul.components {
      padding: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      @media (prefers-reduced-motion: reduce) {
        #sidebar_min ul.components {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
    #sidebar_min ul li {
      font-size: 16px; }
      #sidebar_min ul li > ul {
        margin-left: 10px; }
        #sidebar_min ul li > ul li {
          font-size: 14px; }
      #sidebar_min ul li a {
        padding: 30px 30px;
        display: block;
        color: white;}
        #sidebar_min ul li a span {
          margin-right: 15px; }
          @media (max-width: 991.98px) {
            #sidebar_min ul li a span {
              display: block; } }
        #sidebar_minul li a:hover {
          color: #fff; }
      #sidebar_min ul li.active > a {
        background: transparent;
        color: #fff; }
    @media (max-width: 991.98px) {
      #sidebar_min {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important; }
        #sidebar_min.active {
          margin-left: 0 !important; } }